<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eAlliance Chat bot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Ask a Question to Athena</h1>
    <form method="post">
        <label for="user_question">Question:</label>
        <input type="text" id="user_question" name="user_question" required>
        <button type="submit">Send</button>
    </form>
    
    {% if conversation_history %}
        <h2>Conversation History:</h2>
        <ul>
            {% for entry in conversation_history %}
                <li>
                    <strong>User:</strong> {{ entry.user_question }}<br>
                    <strong>Assistant:</strong> {{ entry.assistant_response }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
